<div class="wrapper">
  <div class="container">
    <header class="header">
      <nav class="navigation">
        <p class="navigation__text">Создаем лучшее для лучших!</p>
        <a [routerLink]="['/']" class="navigation__logo">
          <img src="assets/images/logo.svg" alt="" />
        </a>
        <div class="navigation__info">
          <p class="navigation__text">+7 707 702 82 92</p>
          <p class="navigation__text">hello@theloop.com</p>
        </div>
      </nav>
    </header>
    <router-outlet></router-outlet>
  </div>
  <a
    [routerLink]="['/basket']"
    routerLinkActive="router-link-active"
    class="basket"
  >
    <img src="assets/images/basket.svg" alt="" />
    <div class="basket__info">
      <p class="basket__count">{{ basketCount }}</p>
    </div>
  </a>
</div>
